@import "../../../shared_styles/colors.scss";
@import "../../../shared_styles/typography.scss";

.button-row {
  display: flex;
  justify-content: center;

  button {
    border-width: 1px;
    border-style: solid;
    border-color: $green;
    color: $green;
    font-weight: normal;
    font-family: $standard-font;
    border-radius: 24px;
    padding: 8px 16px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 5px;

    &.finish {
      border-color: $red;
      color: $red;
    }

  }
}